# Node.js
node_modules/
npm-debug.log
yarn-error.log

# C++ Kernel
MiniOS/backend/kernel/kernel.exe
MiniOS/backend/kernel/kernel
MiniOS/backend/kernel/processes.txt

# Environment / Secrets
.env

# Editor Settings
.vscode/
.idea/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db
